# dependencies
node_modules

# build outputs
.next
out

# misc
.git
.gitignore
.husky
.vscode
Dockerfile.*
docker-compose.yml
README*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example
!.env.local.example
!.env.production
